SERVER_PORT=8088
SPRING_APPLICATION_NAME=hexagonal-architecture
SPRING_PROFILES_ACTIVE=production
SPRING_SERVLET_MULTIPART_MAXFILESIZE=1MB
SPRING_SERVLET_MULTIPART_MAXREQUESTSIZE=10MB

SPRING_DATASOURCE_DRIVERCLASSNAME=com.mysql.cj.jdbc.Driver
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/db_hexagonal?useSSL=false&serverTimezone=Asia/Jakarta
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

SPRING_FLYWAY_LOCATIONS=classpath:db/migration/mysql
SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT=org.hibernate.dialect.MySQLDialect
SPRING_JPA_PROPERTIES_HIBERNATE_SHOW_SQL=false
SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL=false

SPRING_MAIL_HOST=sandbox.smtp.mailtrap.io
SPRING_MAIL_PORT=2525
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
SPRING_PROPERTIES_MAIL_DEBUG=false
SPRING_PROPERTIES_SMTP_AUTH=true
SPRING_PROPERTIES_SMTP_STARTTLS_ENABLE=true

# Minimal 256 Bits (43 Char), Requirement jose
JWT_SECRET=
JWT_ALGORITHM=HmacSHA256
JWT_ISSUER=http://localhost:8080
JWT_AUDIENCE=http://localhost:8080
JWT_EXPIRES_SECONDS=100

# Open Telemetry using Java Agent
OTEL_SERVICE_NAME=hexagonal-architecture
OTEL_EXPORTER_OTLP_INSECURE=true
OTEL_EXPORTER_OTLP_ENDPOINT=http://signoz-otel-collector:4317
OTEL_EXPORTER_OTLP_PROTOCOL=grpc
OTEL_TRACES_EXPORTER=otlp
# Disable logs & metrics if only want tracing
OTEL_METRICS_EXPORTER=none
OTEL_LOGS_EXPORTER=none


AWS_S3_ACCESS_KEY_ID=
AWS_S3_SECRET_ACCESS_KEY=
AWS_S3_REGION=us-east-1
AWS_S3_BUCKET_NAME=my-bucket
AWS_S3_ENDPOINT=http://localhost:9000

OCR_URL=https://example.com/ocr
OCR_PARTNER_ID=
OCR_CHANNEL_ID=
OCR_API_VERSION=v1.0
OCR_HOST=

OPEN_API_HOST_URL=
OPEN_API_HOST=
OPEN_API_CLIENT_ID=
OPEN_API_ENCRYPT_VERSION=v0.1
OPEN_API_CLIENT_SECRET=